<!DOCTYPE HTML>
<html>
<meta charset="UTF-8">
<head>
	<title>main</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/add.css" />
</head>
<body>

<div>
	<!--<h1>Hello</h1>
    <div class="container">
       <ul>
           <li><a href="/item">K线管理</a></li>
           <li><a href="/data">指数管理</a></li>
           <li><a href="/chart">指数图表</a></li>
           <li><a href="/evaluation/data">交易执行评估数据录入</a></li>
           <li><a href="/evaluation/stats">交易执行评估数据统计</a></li>
       </ul>
    </div>-->
    <div class="txac pdt30"><img src="/static/img/sys_logo.png" /></div>
    <div class="main_menus">
    	<a href="/evaluation/data" class="bg1">
    		<p class="txs18"><b>交易执行评估数据录入</b></p>
    		<p>Evaluation Data Entry</p>
    	</a>
    	<a href="/evaluation/stats" class="bg2">
    		<p class="txs18"><b>交易执行评估数据统计</b></p>
    		<p>Evaluation Data Total</p>
    	</a>
    	<a href="/item" class="bg3">
    		<p class="txs18"><b>K线管理</b></p>
    		<p>K Line Manage</p>
    	</a>
    	<a href="/data" class="bg4">
    		<p class="txs18"><b>指数管理</b></p>
    		<p>Index Manage</p>
    	</a>
    	<a href="/chart" class="bg5">
    		<p class="txs18"><b>指数图表</b></p>
    		<p>Index Charts</p>
    	</a>
    </div>
</div>
<div class="bottom_bar">Copyright &copy;2018 Mr.LostSquirrel & Mr.ArcDemon All rights Reserved.</div>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>