<!DOCTYPE HTML>
<html>
<head>
	<title>main</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>

<div>
	<h1>Hello</h1>
    <div class="container">
       <ul>
           <li><a href="/item">K线管理</a></li>
           <li><a href="/data">指数管理</a></li>
           <li><a href="/chart">指数图表</a></li>
       </ul>
    </div>
</div>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>