<!DOCTYPE HTML>
<html>
<head>
	<title>main</title>
	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>

<div>
	<h1>Hello</h1>
    <div class="container">
        <div class="form-group row">
            <label for="open" class="col-2 col-form-label">开盘</label>
            <div class="col-10">
                <input class="form-control" type="number" value="" id="open">
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>