<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="/static/css/total.css" />
<link rel="stylesheet" href="/static/css/grid.css" />
</head>

<body>
	<div class="t1">K线管理</div>

	<table cellpadding="0"  cellspacing="0" class="tab3" id="list">
		<tr>
			<th><input type="text" placeholder="创建K线"  id="name" /></th>
			<td>
				<input type="submit" value="创建" class="btn2" id="addItem" />
			</td>

		</tr>
		<tr>
			<th>&nbsp;</th>
			<td>&nbsp;</td>
		</tr>

	</table>

	<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script src="/static/js/common.js"></script>
	<script src="/static/js/item.js"></script>
</body>
</html>
