<!DOCTYPE html>
<html style="height: 100%">
   <head>
       <meta charset="utf-8">
       	<style>
       		.s1{width: 60px; padding: 5px; display: inline-block; text-align: center;color: #fff; background: #1895ff; font-size: 12px; text-decoration: none;position:absolute;z-index:100000;top:0;right:0; }
       	</style>
   </head>
   <body style="height: 100%; margin: 0">
   	   <div><a href="/data" class="s1">编辑数据</a></div>
       <div id="container" style="height: 100%"></div>
       <script type="text/javascript" src="/static/echarts.min.js"></script>
       <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>-->
       <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>-->
       <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>-->
       <!--<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>-->
       <!--<script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>-->
       <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
       <script type="text/javascript" src="/static/js/common.js"></script>
       <script type="text/javascript" src="/static/js/chart.js"></script>
   </body>
</html>